extends layoutLogout

block content
    h2#heading2 Author Details

    .display-table
        table(class="table table-dark")
            thead
                th Author's Name
                th Edit
                th Delete
            tbody#myTable
                for auth in details
                    tr(class="table-active")
                        //td a(href=val.url+'/update') #{val.name}
                        td 
                            a(href="/view-books") #{auth.name}
                        td 
                            //a(href=`/users/${items.id}`, class="btn btn-success") Edit
                            a(href=`/users/${auth.id}`, class="btn btn-success") Edit
                            //button(type="button", class="btn btn-success" data-toggle="modal" data-target="#editPop") Edit
                        td
                            form(action=`/users/${auth.id}?_method=delete`, class="#", method="post")
                                input(type="submit", value="Delete", class="btn btn-danger")
                                //a(href=`/users/${auth.id}`, class="btn btn-danger") Delete



                //- tr
                //-     td 2
                //-     td 
                //-         a(href='#') #{title}  
                //-     td
                //-         a(href="#", class="btn btn-success") Edit
                //-     td
                //-         a(href="#", class="btn btn-danger") Delete
                //- function buildTable(data){
                //- let table = document.getElementById('myTable')
                //- for (let i = 0; i < data.length; i++){
                //- let row = `<tr>
                //-                 <td>${data[i].author}</td>
                //-                 <td>a(href="#", class="btn btn-success") Edit</td>
                //-                 <td>a(href="#", class="btn btn-danger") Delete</td>
                //-             </tr>`
                //- table.innerHTML += row;
                //- }

                //- }

        a(type="#" href='/authors-form' class="btn btn-primary btn-lg") Add Authors
    
    